@import url("HTTPS://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
html {
  height: 100%;
}

body {
  background: #e5e5e5;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

ul {
  margin: 0;
  padding: 0;
}

#siteHeader {
  position: fixed;
  background: linear-gradient(160deg, rgba(77, 135, 125, 0.9) 0%, rgba(75, 19, 148, 0.9) 50%, rgba(120, 0, 138, 0.9) 100%);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 100;
  font-weight: 500;
}

a.navbar-brand {
  font-size: 1.8rem;
  border-right: 8px solid #66fcf1;
  border-left: 8px solid #d200c2;
  border-radius: 25px;
  padding: 5px 0.5em;
  transition: 0.3s all ease 0s;
}

a.navbar-brand:hover {
  transform: scale(1.05);
}

div.dropdown-menu.show {
  background: #e5e5e5;
  border: none;
  border-top: solid 4px #d200c2;
  border-bottom: solid 4px #66fcf1;
  border-radius: 20px;
  margin: auto;
  width: min-content;
}

div.dropdown-menu.show a.dropdown-item {
  text-align: center;
  color: #16302F;
  transition: all 0.2s ease 0s;
}

div.dropdown-menu.show a.dropdown-item:hover {
  transform: scale(1.02);
  background: transparent;
  color: #66fcf1;
}

.cuerpo {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;
}

.cuerpo div.container-fluid.carrusel {
  padding: 0;
  height: 500px;
}

.cuerpo a.cuerpo__destacados, .cuerpo a.cuerpo__sale {
  text-decoration: none;
}

.cuerpo__home--titulos {
  font-size: 2.188rem;
  color: #16302F;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 30px;
}

.cuerpo div.container.contenedor-flex {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 0;
}

.cuerpo__destacados {
  background-color: rgba(136, 255, 239, 0.289);
  border: 3px solid #16302F;
  border-radius: 20px;
  width: 100%;
  margin: 10px auto;
  z-index: 98;
  transition: all 0.3s ease 0s;
}

.cuerpo__destacados:hover {
  background-color: rgba(104, 0, 130, 0.5);
  transform: scale(1.05);
  color: #66fcf1;
  border: none;
  border-top: solid 4px #d200c2;
  border-bottom: solid 4px #66fcf1;
}

.cuerpo__sale {
  background-color: rgba(136, 255, 239, 0.289);
  border: 3px solid #16302F;
  border-radius: 20px;
  width: 100%;
  margin: 10px auto;
  z-index: 98;
  transition: all 0.3s ease 0s;
}

.cuerpo__sale:hover {
  background-color: rgba(104, 0, 130, 0.5);
  transform: scale(1.05);
  color: #66fcf1;
  border: none;
  border-top: solid 4px #d200c2;
  border-bottom: solid 4px #66fcf1;
}

.cuerpo__compromiso {
  background-image: linear-gradient(rgba(71, 8, 135, 0.5), rgba(9, 24, 73, 0.5)), url(../media/ecoCotton.gif);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  border-top: solid 4px #d200c2;
  border-bottom: solid 4px #66fcf1;
  width: 100%;
  height: min-content;
  margin-bottom: 20px;
}

.cuerpo__compromiso--titulo {
  font-size: 2.188rem;
  color: #66fcf1;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 30px;
}

.cuerpo__compromiso--parrafo {
  text-align: center;
  font-size: 0.938rem;
  color: #e5e5e5;
  padding: 30px;
  font-weight: 500;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

img.d-block.w-100 {
  object-fit: scale-down;
  border-radius: 20px;
  height: 500px;
}

img.d-block.w-100.carrusel1 {
  background-image: url(../media/carrusel1mobile.jpg);
  background-position: center;
}

img.d-block.w-100.carrusel2 {
  background-image: url(../media/carrusel2mobile.jpg);
  background-position: center;
}

img.d-block.w-100.carrusel3 {
  background-image: url(../media/carrusel3mobile.jpg);
  background-position: bottom;
}

.chat {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 35px;
  right: 15px;
  z-index: 99;
}

/* SECCIONES EN GENERAL */
.cuerpo-secciones {
  padding-top: 100px;
  height: 100%;
  margin: auto;
}

.cuerpo-secciones--titulo {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 20px;
  color: #16302F;
}

/* FORMULARIO RECIBIDO */
.cuerpo-secciones__formulario {
  font-weight: 500;
  color: #e5e5e5;
  background: linear-gradient(146deg, rgba(0, 101, 117, 0.7) 0%, rgba(34, 0, 112, 0.7) 44%, rgba(79, 3, 116, 0.7) 100%);
  border-radius: 20px;
  padding: 15px 30px;
  height: 100%;
  margin: auto;
}

/* SECCION PRODUCTOS */
.producto-contenedor {
  height: 430px;
  background-color: #0b0c10;
  border-top: solid 6px #d200c2;
  border-bottom: solid 6px #66fcf1;
  border-radius: 25px;
  color: #e5e5e5;
  text-align: center;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s ease 0s;
  box-shadow: 5px 5px 40px #290146;
}

.producto-contenedor:hover {
  transform: scale(1.05);
}

.producto-contenedor__sale {
  background-color: #0b0c10;
  border-top: solid 6px #d200c2;
  border-bottom: solid 6px #66fcf1;
  border-radius: 25px;
  color: #e5e5e5;
  text-align: center;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s ease 0s;
  box-shadow: 5px 5px 40px #290146;
  height: 470px;
}

.producto-contenedor__sale:hover {
  transform: scale(1.05);
}

.producto-contenedor__imagen {
  align-self: center;
  border-radius: 21px;
  height: 250px;
  width: 250px;
}

.producto-contenedor__descripcion--titulo {
  padding-top: 20px;
  color: #66fcf1;
  text-align: center;
  font-weight: 500;
  font-size: 1.375rem;
}

.producto-contenedor__descripcion--info {
  min-height: 50px;
}

.producto-contenedor__caracteristicas--titulo {
  padding-bottom: 40px;
  color: #66fcf1;
  text-align: center;
  font-weight: 500;
  font-size: 1.375rem;
}

.producto-contenedor__caracteristicas--bullet {
  list-style: inside url(../media/bullet1.png);
}

.producto-contenedor__precio {
  padding-bottom: 55px;
  text-align: center;
  font-weight: 500;
  font-size: 1.375;
  font-weight: 700;
  background: linear-gradient(146deg, rgba(253, 29, 29, 0.7) 0%, rgba(164, 58, 180, 0.7) 44%, rgba(102, 252, 241, 0.7) 100%);
  border-radius: 10px;
  padding: 5px;
  margin: 0;
}

.producto-contenedor__precio-sale {
  margin-bottom: 10px;
  color: #B50000;
  text-decoration: line-through;
}

.contenedorProductos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.masterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miCol-12 {
  width: 100%;
}

.miCol-md {
  width: 33.33333%;
}

/* SECCION SUCURSALES */
.cuerpo-secciones__sucursales {
  padding: 10px;
  text-align: center;
}

.cuerpo-secciones__sucursales__alcorta {
  width: 300px;
  display: inline-block;
  border-top: solid 4px #d200c2;
  border-bottom: solid 4px #66fcf1;
  background-color: #0b0c10;
  border-radius: 20px;
  padding: 10px 50px 20px;
  color: #e5e5e5;
  margin: 10px 30px;
  font-weight: 300;
  transition: all 0.3s ease 0s;
  box-shadow: 5px 5px 40px #290146;
}

.cuerpo-secciones__sucursales__alcorta:hover {
  transform: scale(1.05);
}

.cuerpo-secciones__sucursales__alcorta--titulo {
  color: #66fcf1;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 200%;
}

.cuerpo-secciones__sucursales__palermo {
  width: 300px;
  display: inline-block;
  border-top: solid 4px #d200c2;
  border-bottom: solid 4px #66fcf1;
  background-color: #0b0c10;
  border-radius: 20px;
  padding: 10px 50px 20px;
  color: #e5e5e5;
  margin: 10px;
  font-weight: 300;
  transition: all 0.3s ease 0s;
  box-shadow: 5px 5px 40px #290146;
}

.cuerpo-secciones__sucursales__palermo:hover {
  transform: scale(1.05);
}

.cuerpo-secciones__sucursales__palermo--titulo {
  color: #66fcf1;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 200%;
}

.maps-responsive {
  display: block;
  overflow: hidden;
  position: relative;
  height: 400px;
  justify-content: center;
  margin: 30px 0 60px 0;
}

.map-responsive iframe {
  height: 100%;
  width: 100%;
}

/* FOOTER */
.ftr.container-fluid {
  border-top: 7px solid #d200c2;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: #16302F;
  background: #cafaff;
}

.ftr.container-fluid .footer__contacto {
  font-weight: 300;
  text-align: center;
}

.ftr.container-fluid .footer__contacto--titulo {
  font-size: 1.25rem;
  font-weight: 700;
  color: #16302F;
}

.ftr.container-fluid .footer__pagos {
  text-align: center;
}

.ftr.container-fluid .footer__pagos ul li {
  list-style-type: none;
}

.ftr.container-fluid .footer__pagos--titulo {
  font-size: 1.25rem;
  font-weight: 700;
  color: #16302F;
}

.ftr.container-fluid .footer__pagos ul li img {
  height: 25px;
  margin: 10px;
  transition: all 0.3s ease 0s;
}

.ftr.container-fluid .footer__pagos ul li img:hover {
  transform: scale(1.2);
}

.ftr.container-fluid .footer__redes {
  text-align: center;
}

.ftr.container-fluid .footer__redes--titulo {
  font-size: 1.25rem;
  font-weight: 700;
  color: #16302F;
}

.ftr.container-fluid .footer__redes ul li {
  list-style-type: none;
  padding-top: 15px;
  font-weight: 300;
  transition: all 0.3s ease 0s;
}

.ftr.container-fluid .footer__redes ul li:hover {
  transform: scale(1.05);
}

.ftr.container-fluid .footer__redes ul li a {
  text-decoration: none;
  color: #16302F;
  transition: all 0.3s ease 0s;
}

.ftr.container-fluid .footer__redes ul li a:hover {
  background-color: #89f7ffb8;
  border: 0;
  border-radius: 20px;
  padding: 0.4em 0.5em;
  box-shadow: 3px 3px 10px #290146;
}

.ftr.container-fluid .footer__redes ul li img {
  padding-top: 0px;
  height: 25px;
  margin-left: 3px;
}

.fondo-footer {
  color: #16302F;
  font-size: 0.8rem;
  background-color: #cafaff;
}

.fondo-footer__copyright {
  padding-top: 20px;
}

.fondo-footer__hoja {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
}

.fondo-footer__derechos {
  padding-top: 20px;
  text-align: right;
}

/* MEDIA QUERIES */
@media all and (min-width: 768px) {
  .cuerpo div.container.contenedor-flex {
    flex-direction: row;
  }
  .cuerpo__destacados {
    margin-right: 10px;
  }
  .cuerpo__sale {
    margin-left: 10px;
  }
  .masterContainer {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
  }
  .footer__pagos ul li img {
    height: 30px;
    margin: 10px;
  }
  div.dropdown-menu.show {
    background: #e5e5e5;
  }
  img.d-block.w-100.carrusel1 {
    background-image: url(../media/carrusel1tablet.jpg);
    background-position: center;
  }
  img.d-block.w-100.carrusel2 {
    background-image: url(../media/carrusel2tablet.jpg);
    background-position: center;
  }
  img.d-block.w-100.carrusel3 {
    background-image: url(../media/carrusel3tablet.jpg);
    background-position: bottom;
  }
}

@media all and (min-width: 992px) {
  .cuerpo {
    justify-items: space-between;
    align-items: center;
  }
  .cuerpo__home--titulos {
    font-size: 3.125rem;
  }
  .cuerpo div.container-fluid.carrusel {
    height: 650px;
  }
  img.d-block.w-100 {
    object-fit: scale-down;
    border-radius: 20px;
    height: 650px;
  }
  img.d-block.w-100.carrusel1 {
    background-image: url(../media/carrusel1.jpg);
    background-position: center;
  }
  img.d-block.w-100.carrusel2 {
    background-image: url(../media/carrusel2.jpg);
    background-position: center;
  }
  img.d-block.w-100.carrusel3 {
    background-image: url(../media/carrusel3.jpg);
    background-position: bottom;
  }
}

/* MODAL */
.modal-form, .botonEnviar, .botonLimpiar {
  color: #66fcf1;
  padding: 0.5em 0.75em;
  font-weight: 500;
  border: 0px;
  border-radius: 25px;
  background-color: #16302F;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 3px 3px 10px #290146;
}

.modal-form:hover, .botonEnviar:hover, .botonLimpiar:hover {
  transform: scale(1.1);
  color: #66fcf1;
  background-color: #16302F;
  border-left: 4px solid #d200c2;
  border-right: 4px solid #66fcf1;
}
/*# sourceMappingURL=estilos.css.map */