.ftr.container-fluid{
	border-top: 7px solid $color-rosa;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
	color: $color-cyan-oscuro;
	background: $color-cyan-fondo;
    .footer{
        &__contacto{
            font-weight: 300;
            text-align: center;
            &--titulo{
                font-size: 1.25rem;
                font-weight: 700;
                color: $color-cyan-oscuro;
            }
        }
        &__pagos{
            text-align: center;
            & ul li{
                list-style-type: none;
            }
            &--titulo{
                font-size: 1.25rem;
                font-weight: 700;
                color: $color-cyan-oscuro;
            }
            & ul li img{
                height: 25px;
                margin: 10px;
                    transition: all 0.3s ease 0s;
                &:hover{
                    transform:scale(1.2)
                }
            }
        }
        &__redes{
            text-align: center;
            &--titulo{
                font-size: 1.25rem;
                font-weight: 700;
                color: $color-cyan-oscuro;
            }
            & ul li{
                list-style-type: none;
                padding-top: 15px;
                font-weight: 300;
                transition: all 0.3s ease 0s;
                &:hover{
                    transform: scale(1.05);
                }
            }
            & ul li a{
                text-decoration: none;
                color: $color-cyan-oscuro;
                transition: all 0.3s ease 0s;
                &:hover{
                    background-color: #89f7ffb8;
                    border: 0;
                    border-radius:20px;
                    padding: 0.4em 0.5em;
                }
            }
            &  ul li img{
                padding-top: 0px;
                height: 25px;
                margin-left: 3px;
            }
        }
    }
}

.fondo-footer{
	color: $color-cyan-oscuro;
	font-size: 0.8rem;
    background-color: $color-cyan-fondo;
    &__copyright{
        padding-top: 20px;
    }
    &__hoja{
        display: block;
        width: 50px;
        height: 50px;
        margin: auto;
    }
    &__derechos{
        padding-top: 20px;
        text-align: right;
    }
}