
.cuerpo-secciones{
	&__formulario{
		font-size: 1.3rem;
		font-weight: 300;
		color: $color-offwhite;
		background: linear-gradient(146deg, rgba(0,101,117,0.7) 0%, rgba(34,0,112,0.7) 44%, rgba(79,3,116,0.7) 100%);
		border-radius: 20px;
		padding: 15px 30px;
		height: 100%;
		margin: auto;
	}
}