@media all and (min-width: 768px){
	.cuerpo{
		div.container-fluid.carrusel{
			height:700px
		}
		div.container.contenedor-flex{
			flex-direction: row;
		}
		&__destacados{
			margin-right: 10px;
		}
		&__sale{
			margin-left: 10px;
		}
	}
	.masterContainer{
		flex-direction: row;
		justify-content: space-around;
		max-width: 1200px;
		margin: auto;
	}
	.footer__pagos ul li img{
		height: 30px;
		margin: 10px;
	}
	div.dropdown-menu.show {
		background: $color-offwhite;
	}
	img.d-block.w-100{
		height: 700px;
	}
}
@media all and (min-width: 992px){
	.cuerpo{
		justify-items: space-between;
		align-items: center;
	}
	.cuerpo__home--titulos{
		font-size: 3.125rem;
	}
}