@media all and (min-width: 768px){
	.cuerpo{
		div.container.contenedor-flex{
			flex-direction: row;
		}
		&__destacados{
			margin-right: 10px;
		}
		&__sale{
			margin-left: 10px;
		}
	}
	.masterContainer{
		flex-direction: row;
		justify-content: space-around;
		max-width: 1200px;
		margin: auto;
	}
	.footer__pagos ul li img{
		height: 30px;
		margin: 10px;
	}
	div.dropdown-menu.show {
		background: $color-offwhite;
	}
	img.d-block.w-100.carrusel1{
		background-image: url(../media/carrusel1tablet.jpg);
        background-position: center;
	}
	img.d-block.w-100.carrusel2{
		background-image: url(../media/carrusel2tablet.jpg);
        background-position: center;
	}
	img.d-block.w-100.carrusel3{
		background-image: url(../media/carrusel3tablet.jpg);
        background-position: bottom;
	}
}
@media all and (min-width: 992px){
	.cuerpo{
		justify-items: space-between;
		align-items: center;
		&__home--titulos{
			font-size: 3.125rem;
		}
		div.container-fluid.carrusel{
			height:650px
		}
	}
	img.d-block.w-100{
		object-fit: scale-down;
		border-radius: 20px;
		height: 650px;
		&.carrusel1{
			background-image: url(../media/carrusel1.jpg);
			background-position: center;
		}
		&.carrusel2{
			background-image: url(../media/carrusel2.jpg);
			background-position: center;
		}
		&.carrusel3{
			background-image: url(../media/carrusel3.jpg);
			background-position: bottom;
		}
	}
}
