.producto-contenedor{
    height: 430px;
	@include contenedorDeProductos;
    &__sale{
        @include contenedorDeProductos;
        height: 470px;
    }
    &__imagen{
        align-self: center;
        border-radius: 21px;
        height: 250px;
        width: 250px;
    }
    &__descripcion{
        &--titulo{
            padding-top: 20px;
            color: $color-cyan;
            text-align: center;
            font-weight: 500;
            font-size: 1.375rem;
        }
        &--info{
            min-height: 50px;
        }
    }
    &__caracteristicas{
        &--titulo{
            padding-bottom: 40px;
            color: $color-cyan;
            text-align: center;
            font-weight: 500;
            font-size: 1.375rem;
        }
        &--bullet{
            list-style: inside url(../media/bullet1.png);
        }
    }
    &__precio{
        padding-bottom: 55px;
        text-align: center;
        font-weight: 500;
        font-size: 1.375;
        font-weight: 700;
        background: linear-gradient(146deg, rgba(253,29,29,0.7) 0%, rgba(164,58,180,0.7) 44%, rgba(102,252,241,0.7) 100%);
        border-radius: 20px;
        padding: 5px;
        margin: 0;
    }
    &__precio-sale{
        margin-bottom: 10px;
        color: #B50000;
        text-decoration: line-through;
    }
}
.contenedorProductos{
display: flex;
flex-direction: row;
justify-content: center;
}
.masterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miCol-12{
    width: $ancho;
}
.miCol-md{
    width: ($ancho/3);
}


/*Agregar items al carrito*/

.buttonAddCart {
    font-size: 0.9rem;
    color: $color-offwhite;
	padding: 0.5em 0.75em;
	font-weight: 500;
	border: 0px;
	border-radius: 25px;
	background-color: $color-cyan-oscuro;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&:hover{
		transform: scale(1.05);
		color: $color-cyan;
		background-color: $color-cyan-oscuro;
		border-left:4px solid $color-rosa;
		border-right: 4px solid $color-cyan;
    }
}



/* Caja flotante de articulo agregado al carrito*/

.floatingAlert, .floatingAlertForm{
    display: none;
    position: fixed;
    color: $color-offwhite;
    font-size: 1rem;
    font-weight: 300;
    background-color: #0b0c10;
    border-left: 4px solid $color-rosa;
    border-right: 4px solid $color-cyan;
    top: 85px;
    right: 15px;
    padding: 0.5rem 0.75rem;
    border-radius: 25px;
}
//     animation: myMove 4s;
// }

// @keyframes myMove {
//     0% {right: -400px;}
//     20% {right: 15px;}
//     80% {right: 15px;}
//     100% {right: -400px}
// }

#modalCart{
    min-height: auto;
}