$main-gradient: linear-gradient(160deg, rgba(77, 135, 125, 0.9) 0%, rgba(75,19,148,0.9) 50%, rgba(120, 0, 138, 0.9) 100%);
$color-cyan: #66fcf1;
$color-rosa: #d200c2;
$color-cyan-oscuro: #16302F;
$color-offwhite: #e5e5e5;
$padding-header: 100px;
$redes: (instagram: linear-gradient(12deg, rgba(255,217,21,1) 0%, rgba(233,149,38,1) 31%, rgba(163,45,48,1) 67%, rgba(59,34,195,1) 100%), facebook: rgb(12, 92, 196), twitter: rgb(29,161,242));
$ancho: 100%;