$main-gradient: linear-gradient(160deg, rgba(77, 135, 125, 0.9) 0%, rgba(75,19,148,0.9) 50%, rgba(120, 0, 138, 0.9) 100%);
$color-cyan: #66fcf1;
$color-cyan-fondo: #cafaff;
$color-rosa: #d200c2;
$color-cyan-oscuro: #16302F;
$color-offwhite: #e5e5e5;
$color-violeta-oscuro: #290146;
$padding-header: 100px;
$ancho: 100%;