@import url('HTTPS://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import "main";
@import "variables";

#siteHeader{
	position: fixed;
    box-shadow: 0px -2px 20px $color-violeta-oscuro;
	background: $main-gradient;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	z-index: 100;
    font-weight: 500;
}
a.navbar-brand{
    font-size: 1.8rem;
    border-right: 8px solid $color-cyan;
    border-left: 8px solid $color-rosa;
    border-radius: 25px;
    padding: 5px 0.5em;
    transition: 0.3s all ease 0s;
    &:hover{
        transform: scale(1.05);
    }
}

div.dropdown-menu.show {
    background: $color-offwhite;
    border: none;
    box-shadow: 0px 0px 15px $color-violeta-oscuro;
    border-top: solid 4px $color-rosa;
    border-bottom: solid 4px $color-cyan;
    border-radius: 20px;
    margin: auto;
    width:min-content;
    & a.dropdown-item{
        text-align: center;
        color: $color-cyan-oscuro;
        transition: all 0.2s ease 0s;
        &:hover{
            transform: scale(1.02);
            background: transparent;
            color: $color-cyan;
        }
    }
}

// CARRITO
.cart{
	background-color: transparent;
    color: $color-offwhite;
    align-self: center;
    margin-left: 20px;
    border: solid 1px;
    padding: 0.5rem 0.75rem;
    border-radius: 25px;
    border-color: $color-offwhite;
    transition: all 0.2s ease 0s;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}
.cartContainer{
	display: flex;
	flex-direction: column;
	color: #0b0c10;
}
.cartProduct{
	display: flex;
	margin: 10px;
	justify-content: space-between;
}
.cartImg{
display: inline-flex;
width: 100px;
border-radius: 15px;
}
.cartTitle{
	font-size: 1rem;
	align-self: center;
	font-weight: 500;
}
.cartPrice{
align-self: center;
font-weight: 700;
}
.cartClose{
	align-self: center;
}

//FIN DE CARRITO


.cuerpo{
	padding-top: $padding-header;
	display: flex;
	flex-direction: column;
	margin: auto;
    width: 100vw;
    div.container-fluid.carrusel{
        padding: 0;
        height: 500px;
    }
    & a.cuerpo__destacados, a.cuerpo__sale{
        text-decoration: none;
    }
    &__home--titulos{
        font-size: 2.188rem;
        color: $color-cyan-oscuro;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        padding: 30px;
    }
    div.container.contenedor-flex{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        padding: 0;
    }
    &__destacados{
        background-color: rgba(136, 255, 239, 0.289);
        border: 3px solid $color-cyan-oscuro;
        border-radius: 20px;
        width: 100%;
        margin: 10px auto;
        z-index: 98;
        transition: all 0.3s ease 0s;
        &:hover{
            background-color: rgba(104, 0, 130, 0.5);
            transform: scale(1.05);
            color: $color-cyan;
            border: none;
            border-top: solid 4px $color-rosa;
            border-bottom: solid 4px $color-cyan;
        }
    }
    &__sale{
        background-color: rgba(136, 255, 239, 0.289);
        border: 3px solid $color-cyan-oscuro;
        border-radius: 20px;
        width: 100%;
        margin: 10px auto;
        z-index: 98;
        transition: all 0.3s ease 0s;
        &:hover{
            background-color: rgba(104, 0, 130, 0.5);
            transform: scale(1.05);
            color: $color-cyan;
            border: none;
            border-top: solid 4px $color-rosa;
            border-bottom: solid 4px $color-cyan;
        }
    }
    &__compromiso{
        background-image: linear-gradient(rgba(71, 8, 135, 0.5),rgba(9, 24, 73, 0.5)), url(../media/ecoCotton.gif);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        border-top: solid 4px $color-rosa;
        border-bottom: solid 4px $color-cyan;
        width: 100%;
        height: min-content;
        margin-bottom: 20px;
        &--titulo{
            font-size: 2.188rem;
            color: $color-cyan;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: 30px;
        }
        &--parrafo{
            text-align: center;
            font-size: 0.938rem;
            color: $color-offwhite;
            padding: 30px;
            font-weight: 500;
        }
    }
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

img.d-block.w-100{
    object-fit: scale-down;
    border-radius: 20px;
    height: 500px;
    &.carrusel1{
        background-image: url(../media/carrusel1mobile.jpg);
        background-position: center;
    }
    &.carrusel2{
        background-image: url(../media/carrusel2mobile.jpg);
        background-position: center;
    }
    &.carrusel3{
        background-image: url(../media/carrusel3mobile.jpg);
        background-position: bottom;
    }
}

.chat{
	position: fixed;
	height: 50px;
	width: 50px;
	bottom: 35px;
	right: 15px;
	z-index: 99;
}

/* SECCIONES EN GENERAL */

.cuerpo-secciones{
	padding-top: $padding-header;
	height: 100%;
	margin: auto;
    &--titulo{
        font-weight: 700;
        font-size:3rem;
        text-align: center;
        padding-bottom: 20px;
        color: $color-cyan-oscuro;
    }
}

/* FORMULARIO RECIBIDO */

@import "form";

/* SECCION PRODUCTOS */

@import "productos";

/* SECCION SUCURSALES */

@import "sucursales";

/* FOOTER */

@import "footer";

/* MEDIA QUERIES */

@import "media-queries";

/* MODAL */

@import "modal";